<div class="people-container">
  <div class="container__title {{ breakpoint }}">
    <ng-container *ngIf="breakpoint === breakpointEnum.SM; else bigTitle">
         The Cantina Crew
    </ng-container>
    <ng-template #bigTitle>
      The Cantina Crew: A Whimsical List of Star Wars Characters
    </ng-template>
   
  </div>
  <div class="card__container {{ breakpoint }}"> 
    <div class="card__item" *ngFor="let person of people$ | async;let i = index; trackBy: trackByFn">
      <div (click)="navigateToCharacter(person.uid)"
      (mouseenter)="howeredItem = i" (mouseleave)="howeredItem = undefined">
        <header class="card__content">
          <div class="text-wrap">
            {{ person.name }}
          </div>
          <div class="card__icon" [class.visible]="howeredItem === i">
            <fa-icon
              [icon]="faAngleRight"
            ></fa-icon>
      
          </div>
         
          
        </header>
      </div>
    </div>
  </div>

  <div class="pagination__main fx-row {{ breakpoint }}">
    <div class="pagination__previous">
      <button class="pagination__previous-button button is-dark" (click)="navigatePreNext(-1)"
      [disabled]="!currentPage || currentPage == 1">
      <span class="nav__left-icon">
        <fa-icon class="fa-xl" [icon]="faChevronLeft"></fa-icon>
      </span> 
    </button>
    </div>
    <div class="pagination__current-page">
      {{ currentPage }}
    </div>
    <div class="pagination__next">
      <button class="pagination__next-button button is-dark" (click)="navigatePreNext(1)" [disabled]="lastPage$ | async">
        <span class="nav__right-icon">
          <fa-icon class="fa-xl" [icon]="faChevronRight"></fa-icon>
        </span> 
    </button>
    </div>
  </div>
</div>

