// fonts

$default-font-size: 1.2rem;

$default-border-color: gray;

$link-value-color: #459CDF;

$normal-value-color: #696b6b;

$dark-blue: #4987b7;

.fx-row {
    display: flex;
    flex-direction: row;
}

.text-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}