<ng-container *ngIf="character$ | async as data">
  <div *ngIf="data.uid">
    <div>uid: {{ data.uid }}</div>
  <!-- <div >description: {{ data.description }}</div> -->
  <div>__v: {{ data.__v }}</div>
  <div>_id: {{ data._id }}</div>
  <!-- <div> birth_year: {{data.properties?.birth_year}}</div> -->
  <!-- <div> created: {{data.properties?.created | date: 'medium'}}</div>
    <div> edited: {{data.properties?.edited | date: 'medium'}}</div> -->
  <div>
    eye_color: {{ data.properties?.eye_color }}
    <span class="icon">
      <fa-icon
        class="fa-xl"
        [icon]="faEye"
        [ngStyle]="{ color: data.properties?.eye_color }"
      ></fa-icon>
    </span>
  </div>
  <div>
    gender: {{ data.properties?.gender }}
    <span class="icon">
      <ng-container [ngSwitch]="data.properties?.gender">
        <fa-icon
          class="fa-xl"
          *ngSwitchCase="GENDER.MALE"
          [icon]="faMars"
        ></fa-icon>
        <fa-icon
          class="fa-xl"
          *ngSwitchCase="GENDER.FEMALE"
          [icon]="faVenus"
        ></fa-icon>
        <fa-icon
          class="fa-xl"
          *ngSwitchCase="GENDER.NONE"
          [icon]="faVenusMars"
        ></fa-icon>
      </ng-container>
    </span>
  </div>
  <div>hair_color: {{ data.properties?.hair_color }}</div>
  <div>height: {{ data.properties?.height }}</div>
  <!-- <div> homeworld: {{data.properties?.homeworld}}</div> -->
  <div>mass: {{ data.properties?.mass }}</div>
  <!-- <div> name: {{data.properties?.name}}</div> -->
  <div>planetNumber: {{ data.properties?.planetNumber }}</div>
  <div>
    skin_color: {{ data.properties?.skin_color }}
    <div class="icon" (click)="gotoList()">
      <fa-icon
        class="fa-2xl"
        [icon]="faHand"
        [ngStyle]="{ color: data.properties?.skin_color }"
      ></fa-icon>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <div class="icon" (click)="gotoList()">
              <fa-icon class="fa-2xl" [icon]="faJedi"></fa-icon>
            </div>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ data.properties?.name }}</p>
          <p class="subtitle is-6">
            birth <span>{{ data.properties?.birth_year }}</span>
          </p>
        </div>
      </div>

      <div class="content">
        <div>description: {{ data.description }}</div>

        <br />
        <div>
          <time>
            created: {{ data.properties?.created | date : "medium" }}</time
          >
          <time> edited: {{ data.properties?.edited | date : "medium" }}</time>
        </div>

        <footer class="card-footer">
          <div class="card-footer-item">
            <span class="icon" (click)="navigate(-1, data.uid ? +data.uid : 0)">
              <fa-icon class="fa-2xl" [icon]="faChevronLeft"></fa-icon>
            </span>
          </div>
          <div class="card-footer-item">
            <span class="icon" (click)="gotoList()">
              <fa-icon class="fa-2xl" [icon]="faTableList"></fa-icon>
            </span>
          </div>
          <div class="card-footer-item">
            <a [routerLink]="['/planets', (character$ | async)?.properties?.planetNumber]">
                
                <span class="icon" data-tooltip="go to home world">
                    <fa-icon class="fa-2xl" [icon]="faSeedling"></fa-icon>
                  </span></a
              >
          </div>
          <div class="card-footer-item">
            <span class="icon" (click)="navigate(1, data.uid ? +data.uid : 0)">
              <fa-icon class="fa-2xl" [icon]="faChevronRight"></fa-icon>
            </span>
          </div>
        </footer>
      </div>
    </div>
  </div>
  </div>
</ng-container>
<a [routerLink]="['/planets', (character$ | async)?.properties?.planetNumber]">
  go to {{ (character$ | async)?.properties?.name }} home world</a
>
